@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */


@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Gochi+Hand&family=Pacifico&family=Patrick+Hand&display=swap');


body{
  /* font-family: 'Andika', sans-serif; */
    font-family: 'Gochi Hand', cursive;
    /* font-family: 'Patrick Hand', cursive; */
    /* font-family: 'Srisakdi', cursive; */
    /* font-family: 'Pacifico', cursive; */
}
.toy-container{
  @apply w-full max-w-[1280px] mx-auto md:px-5 px-8
}

.primary-btn{
  @apply bg-[#0056d2] text-white rounded-sm py-1 px-3
}
.secondary-btn{
  @apply bg-[#ffb916] text-white rounded-sm py-1 px-2 bg-opacity-80
}

.primary-text{
  @apply text-[#0056d2]
}
.secondary-text{
  @apply text-[#ffb916]
}
.toy-bg{
  @apply bg-[#f4f4f6]
}
.wire-bg{
  @apply text-[#f4f4f6]
}
.logo-bg{
  @apply bg-[#ffb916]
}
.h-bg{
  @apply bg-[#f59758]
}


@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.sub-category{
  @apply flex flex-col md:flex-row border-2 p-5 justify-end items-end
}

.category {
  @apply mb-2 flex flex-col md:flex-row border-2 p-5 justify-start items-start
}